body {
    margin: 0;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     background-color:#EDF2F7;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }